@charset "UTF-8";
* {
    font-family: "游ゴシック体", YuGothic;
}


/* slineno スライダーが最初表示されている */

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 180px;
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    line-height: 180px;
    list-style: none;
    margin-right: 10px;
}

li {
    margin-right: 40px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

main {
    height: 500px;
    position: relative;
}

.sample1 {
    position: absolute;
    top: -121px;
    left: -121px;
    z-index: 1;
}

.toppic {
    width: 1157px;
    position: absolute;
}

.sample3 {
    position: absolute;
    top: 269px;
    left: 718px;
}

.mtext {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: "游ゴシック";
    font-weight: 100;
}

.mtext br {
    display: none;
}

.textbox {
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 100px;
}

.mtext {
    position: absolute;
    top: 0;
    left: -100px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 3%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

aside {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 100px;
}

aside:hover {
    animation: shadow 2s forwards;
}

@keyframes shadow {
    0% {
        box-shadow: 0px rgb(255, 255, 255);
    }
    20% {
        box-shadow: 3px 3px 3px 3px rgb(170, 170, 170);
    }
    100% {
        box-shadow: 2px 2px 3px 3px rgb(124, 124, 124);
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2% 0 0 2%;
    line-height: 40px;
}

.description p:nth-child(2n) {
    margin-bottom: 30%;
}

.margin-short {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2% 0 18% 2%;
    line-height: 40px;
}

.readmore {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5px;
}

.extend {
    margin-bottom: 10px;
    width: 20px;
    border-bottom: 2px solid black;
    transition: width .3s ease-out;
    cursor: pointer;
}

.target:hover+.extend {
    width: 120px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>p {
    font-size: 20px;
    color: white;
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .mtext {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}

@media screen and (max-width:767px) {
    .slinone {
        display: none;
    }
    .rnone {
        display: block;
    }
    header {
        display: none;
    }
    .container {
        width: 100%;
    }
    main {
        margin-top: 300px;
        height: 20%;
        width: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sample1 {
        width: 100%;
    }
    .logo {
        position: relative;
        left: 50%;
        top: 200px;
    }
    .toppic {
        position: static;
    }
    .visualt {
        width: 300px;
        height: 180px;
        position: absolute;
        top: 77px;
        left: -720px;
    }
    .textbox {
        position: static;
        text-align: center;
    }
    .mtext {
        position: static;
    }
    .mtext br {
        display: block;
    }
    article {
        flex-direction: column;
    }
    aside {
        margin: 30px auto;
    }
    .pic_width {
        width: 320px;
        height: 206px;
    }
    .description {
        width: 90%;
        margin: 0 5%;
        margin-top: 2%;
        font-size: 30px;
    }
    .readmore {
        width: 90%;
        margin: 0 5%;
        font-size: 30px;
        margin-bottom: 10%;
    }
    h1 {
        font-size: 70px;
    }
    .margin-short {
        font-size: 30px;
    }
}